@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    overflow: hidden;
}

.panel {
    position: relative;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    flex: 0.5;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    margin: 10px;
    transition: flex 0.7s ease-in;
box-shadow: 1.5px 1px 1px white;
}

.panel h3 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: white;
    font-size: 24px;
    opacity: 0;
    
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-out .5s;
}

@media screen and (max-width: 480px){
    .panel:nth-of-type(4), .panel:nth-of-type(5){
        display: none;
    }
    .container {
        width: 100vw;
    }
}